*.o
*.elf
*.bin
*.log
*.rpt
Makefile.symbiflow
**/build/*.jlink
**/build/*.openocd
**/build/*.v
**/build/*.json
**/build/*.net
**/build/*.place
**/build/*.route
**/build/*.bit
**/build/*.eblif
**/build/*.fasm
**/build/*.sdc
**/build/*.mem

