//set_io pad1 IO_1
//set_io pad2 IO_2
//set_io pad3 IO_3
//set_io pad4 IO_4
//set_io pad5 IO_5
set_io pad6 IO_6
//set_io pad7 IO_7
//set_io pad8 IO_8
//set_io pad9 IO_9
//set_io pad10 IO_10
//set_io pad11 IO_11
//set_io pad12 IO_12
//set_io pad13 IO_13
//set_io pad14 IO_14
//set_io pad15 IO_15
//set_io pad16 IO_16
//set_io pad17 IO_17
set_io pad18 IO_18
//set_io pad19 IO_19
//set_io pad20 IO_20
//set_io pad21 IO_21
//set_io pad22 IO_22
//set_io pad23 IO_23
//set_io pad24 IO_24
//set_io pad25 IO_25
//set_io pad26 IO_26
//set_io pad27 IO_27
//set_io pad28 IO_28
//set_io pad29 IO_29
//set_io pad30 IO_30
//set_io pad31 IO_31
//set_io pad32 IO_32
//set_io pad33 IO_33
//set_io pad34 IO_34
//set_io pad35 IO_35
//set_io pad36 IO_36
//set_io pad37 IO_37
//set_io pad38 IO_38
//set_io pad39 IO_39
//set_io pad40 IO_40
//set_io pad41 IO_41
//set_io pad42 IO_42
//set_io pad43 IO_43
//set_io pad44 IO_44
//set_io pad45 IO_45